   <!-- Page Header Start -->
   <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Dịch vụ</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Các dịch vụ</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

 <!-- Service Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded-pill py-1 px-4">Dịch vụ</p>
            <h1>Giải Pháp Chăm Sóc Sức Khỏe</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fa fa-heartbeat text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3">Răng sứ thẩm mỹ</h4>
                    <p class="mb-4">Mang lại cho bạn một nụ cười tự tin, tỏa sáng và chắc khỏe.</p>
                    <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Đọc thêm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fa fa-x-ray text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3">Niềng răng-chỉnh hình</h4>
                    <p class="mb-4">Khắc phục các hàm răng mọc lệch, gây ảnh hưởng tới sức khỏe răng miệng, mặc cảm trong giao tiếp.</p>
                    <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Đọc thêm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fa fa-brain text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3">Nha khoa trẻ em</h4>
                    <p class="mb-4">Đừng để nỗi sợ nhổ răng cho trẻ em, việc xử lý răng sữa rất quan trọng cho việc định hình các răng xương sau này.</p>
                    <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Đọc thêm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fa fa-wheelchair text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3">Nha khoa tổng quát</h4>
                    <p class="mb-4">Việc kiểm tra răng miệng thường xuyên giúp phát hiện sớm các dấu hiệu hư hại răng, tăng độ chắc khỏe và tuổi thọ cho răng.</p>
                    <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Đọc thêm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fa fa-tooth text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3">Cấy ghép răng giả</h4>
                    <p class="mb-4">Việc thiếu răng trong hàm làm các sinh hoạt ăn uống khó khăn, mặc cảm giao tiếp và làm các răng bên cạnh nhanh chóng rụng theo.</p>
                    <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Đọc thêm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <i class="fa fa-vials text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3">Hàm giả tháo lắp</h4>
                    <p class="mb-4">Sau khi lắp hàm răng giả tháo lắp, bạn sẽ có một hàm răng sáng đều, nhai nghiền thức ăn tốt và dễ dàng vệ sinh.</p>
                    <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Đọc thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
