
 <!-- About Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end" src="assets/user/img/about-1.jpg" alt="">
                    <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="assets/user/img/about-2.jpg" alt="" style="margin-top: -25%;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block border rounded-pill py-1 px-4">Về chúng tôi</p>
                <h1 class="mb-4">Tại sao bạn nên tin tưởng chúng tôi? Tìm hiểu về chúng tôi!</h1>
                <p>Phương châm hoạt động của chúng tôi là "Địa chỉ gửi niềm tin", phục vụ khách hàng tận tình, nhiệt huyết với nghề.</p>
                <p class="mb-4">Chúng tôi mang lại nụ cười tự tin cho bạn, chấm dứt các bệnh và mặc cảm về răng miệng cho bạn.</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Chăm sóc sức khỏe chất lượng</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Chỉ các bác sĩ có trình độ</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>Chuyên gia nghiên cứu y tế</p>
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Đọc thêm</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid bg-primary overflow-hidden my-5 px-lg-0">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="p-lg-5 ps-lg-0">
                    <p class="d-inline-block border rounded-pill text-light py-1 px-4">Đặc trưng</p>
                    <h1 class="text-white mb-4">Tại sao chọn chúng tôi</h1>
                    <p class="text-white mb-4 pb-2">Chúng tôi có đội ngũ bác sĩ chuyên nghiệp, có nhiều kinh nghiệm và nhiệt huyết với nghề, cùng với công nghệ hiện đại tại phòng khám của chúng tôi</p>
                    <div class="row g-4">
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                    <i class="fa fa-user-md text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="text-white mb-2">Kinh nghiệm</p>
                                    <h5 class="text-white mb-0">Đội ngũ bác sĩ</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                    <i class="fa fa-check text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="text-white mb-2">Số lượng</p>
                                    <h5 class="text-white mb-0">Dịch vụ</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                    <i class="fa fa-comment-medical text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="text-white mb-2">Tích cực</p>
                                    <h5 class="text-white mb-0">Tư vấn</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                    <i class="fa fa-headphones text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="text-white mb-2">24 giờ</p>
                                    <h5 class="text-white mb-0">Hỗ trợ</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="assets/user/img/feature.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


 <!-- Team Start -->
 <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded-pill py-1 px-4">Doctors</p>
            <h1>Bác sĩ của chúng tôi</h1>
        </div>
        <div class="row g-4">
            <div *ngFor="let it of list_item" class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div  class="team-item position-relative rounded overflow-hidden">
                    <div class="overflow-hidden">
                       <a [routerLink]="['/detail-doctor',it.id]"><img class="img-fluid" src="{{it.avatar}}" alt=""></a> 
                    </div>
                    <div class="team-text bg-light text-center p-4">
                        <h5>{{it.docName}}</h5>
                        <p class="text-primary">Department</p>
                        <div class="team-social text-center">
                            <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- Team End -->
    