
    <!-- Header Start -->
    <div class="container-fluid header bg-primary p-0 mb-5">
        <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
            <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
                <h1 class="display-4 text-white mb-5">Sức Khỏe Là Gốc Của Mọi Hạnh Phúc</h1>
                <div class="row g-4">
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">123</h2>
                            <p class="text-light mb-0">Bác sĩ chuyên môn</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">1234</h2>
                            <p class="text-light mb-0">Công cụ y tế</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="border-start border-light ps-4">
                            <h2 class="text-white mb-1" data-toggle="counter-up">12345</h2>
                            <p class="text-light mb-0">Tổng bệnh nhân</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="assets/user/img/carousel-1.jpg" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">Răng sứ thẩm mỹ</h1>
                        </div>
                    </div>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="assets/user/img/carousel-2.jpg" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">Niềng răng-chỉnh nha</h1>
                        </div>
                    </div>
                    <div class="owl-carousel-item position-relative">
                        <img class="img-fluid" src="assets/user/img/carousel-3.jpg" alt="">
                        <div class="owl-carousel-text">
                            <h1 class="display-1 text-white mb-0">Nha khoa trẻ em</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-flex flex-column">
                        <img class="img-fluid rounded w-75 align-self-end" src="assets/user/img/about-1.jpg" alt="">
                        <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="assets/user/img/about-2.jpg" alt="" style="margin-top: -25%;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Về chúng tôi</p>
                    <h1 class="mb-4">Tại sao bạn nên tin tưởng chúng tôi? Tìm hiểu về chúng tôi!</h1>
                    <p>Phương châm hoạt động của chúng tôi là "Địa chỉ gửi niềm tin", phục vụ khách hàng tận tình, nhiệt huyết với nghề.</p>
                    <p class="mb-4">Chúng tôi mang lại nụ cười tự tin cho bạn, chấm dứt các bệnh và mặc cảm về răng miệng cho bạn.</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Chăm sóc sức khỏe chất lượng</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Chỉ các bác sĩ có trình độ</p>
                    <p><i class="far fa-check-circle text-primary me-3"></i>Chuyên gia nghiên cứu y tế</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Đọc thêm</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Dịch vụ</p>
                <h1>Giải Pháp Chăm Sóc Sức Khỏe</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <i class="fa fa-heartbeat text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Răng sứ thẩm mỹ</h4>
                        <p class="mb-4">Mang lại cho bạn một nụ cười tự tin, tỏa sáng và chắc khỏe.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Đọc thêm</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <i class="fa fa-x-ray text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Niềng răng-chỉnh hình</h4>
                        <p class="mb-4">Khắc phục các hàm răng mọc lệch, gây ảnh hưởng tới sức khỏe răng miệng, mặc cảm trong giao tiếp.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Đọc thêm</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <i class="fa fa-brain text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Nha khoa trẻ em</h4>
                        <p class="mb-4">Đừng để nỗi sợ nhổ răng cho trẻ em, việc xử lý răng sữa rất quan trọng cho việc định hình các răng xương sau này.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Đọc thêm</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <i class="fa fa-wheelchair text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Nha khoa tổng quát</h4>
                        <p class="mb-4">Việc kiểm tra răng miệng thường xuyên giúp phát hiện sớm các dấu hiệu hư hại răng, tăng độ chắc khỏe và tuổi thọ cho răng.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Đọc thêm</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <i class="fa fa-tooth text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Cấy ghép răng giả</h4>
                        <p class="mb-4">Việc thiếu răng trong hàm làm các sinh hoạt ăn uống khó khăn, mặc cảm giao tiếp và làm các răng bên cạnh nhanh chóng rụng theo.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Đọc thêm</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-light rounded h-100 p-5">
                        <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                            <i class="fa fa-vials text-primary fs-4"></i>
                        </div>
                        <h4 class="mb-3">Hàm giả tháo lắp</h4>
                        <p class="mb-4">Sau khi lắp hàm răng giả tháo lắp, bạn sẽ có một hàm răng sáng đều, nhai nghiền thức ăn tốt và dễ dàng vệ sinh.</p>
                        <a class="btn" href=""><i class="fa fa-plus text-primary me-3"></i>Đọc thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-primary overflow-hidden my-5 px-lg-0">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="p-lg-5 ps-lg-0">
                        <p class="d-inline-block border rounded-pill text-light py-1 px-4">Đặc trưng</p>
                        <h1 class="text-white mb-4">Tại sao chọn chúng tôi</h1>
                        <p class="text-white mb-4 pb-2">Chúng tôi có đội ngũ bác sĩ chuyên nghiệp, có nhiều kinh nghiệm và nhiệt huyết với nghề, cùng với công nghệ hiện đại tại phòng khám của chúng tôi</p>
                        <div class="row g-4">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-user-md text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Kinh nghiệm</p>
                                        <h5 class="text-white mb-0">Đội ngũ bác sĩ</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-check text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Số lượng</p>
                                        <h5 class="text-white mb-0">Dịch vụ</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-comment-medical text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">Tích cực</p>
                                        <h5 class="text-white mb-0">Tư vấn</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light" style="width: 55px; height: 55px;">
                                        <i class="fa fa-headphones text-primary"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="text-white mb-2">24 giờ</p>
                                        <h5 class="text-white mb-0">Hỗ trợ</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="assets/user/img/feature.jpg" style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Doctors</p>
                <h1>Bác sĩ của chúng tôi</h1>
            </div>
            <div class="row g-4">
                <div *ngFor="let it of list_item" class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div  class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                           <a [routerLink]="['/detail-doctor',it.id]"><img class="img-fluid" src="{{it.avatar}}" alt=""></a> 
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>{{it.docName}}</h5>
                            <p class="text-primary">Department</p>
                            <div class="team-social text-center">
                                <a class="btn btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <!-- Team End -->



    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Lời chứng thực</p>
                <h1>Bệnh nhân của chúng tôi nói gì!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="assets/user/img/testimonial-2.jpg" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Dịch vụ rất tuyệt vời, tôi đã tự tin hơn với hàm răng sáng đều của mình.</p>
                        <h5 class="mb-1">Bùi Anh Tuấn</h5>
                        <span class="fst-italic">Nhân viên văn phòng</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="assets/user/img/testimonial-1.jpg" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Tôi đã hết các chứng ê buốt và nhức răng sau khi điều trị ở nha khoa này.</p>
                        <h5 class="mb-1">Văn Mai Hương</h5>
                        <span class="fst-italic">Ca sĩ</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="assets/user/img/testimonial-3.jpg" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Cháu nhà tôi đã có một kì thay răng tốt đẹp do xử lý răng sửa đúng cách và chuyên nghiệp nên răng xương mọc rất đều và đẹp.</p>
                        <h5 class="mb-1">Hoàng Phi Hồng</h5>
                        <span class="fst-italic">Phụ huynh</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
